extends ./layout

block content
	.wrapper
		.cata-title CCCLOTHES
		.big-title MEN’S TOPS
		
		.item1
			.pic
			.block
			.pattern
			.subtitle LINEN BLAZER
			.num 01
			.mens-title Men’s outfit
			
		.item2
			.pic
			.block
			.block-s
			.subtitle FREELIFT
			.num 02
			.mens-title Men’s basic
			
		.item3
			.pic
			.block
			.block-s
			.subtitle SUPER SKINNY
			.num 03
			.mens-title Men’s pattern shirts
			
		.item4
			.pic
			.block
			.pattern
			.subtitle DENIM
			.num 04
			.mens-title Men’s cadual
			
		.item5
			.pic
			.block
			.subtitle SWEATSHIRTS
			.pattern
			.num 05
			.mens-title Men’s jacket
			
		.item6
			.pic
			.block
			.block-s
			.subtitle VINTAGE DENIM
			.num 06
			.mens-title Men’s classic
			
		.item7
			.pic
			.block
			.block-s
			.subtitle EDITION
			.num 07
			.mens-title Men’s shirts